# Python
.venv/
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment
.env

# Node/Frontend
node_modules/
dist/
.vite/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db